.glow-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #fdfffe;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 255, 136, 0.5), 0 0 20px rgba(0, 255, 136, 0.3),
    0 0 30px rgba(0, 255, 136, 0.2);
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}

.glow-button:hover {
  background-color: #c72c17dc;
  color: #000000;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
    0 0 30px rgba(243, 248, 246, 0.6), 0 0 40px rgba(251, 255, 253, 0.4);
}
button,
button:focus,
button:active,
button:focus-visible,
button:focus-within {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  border: 2px solid #ffffff !important;
}
.bg-black {
  background-color: #000 !important;
}
